body {
    font: 1em sans-serif;
    width: 400px;
    padding: 0;
    margin: 0 auto;
}

input {
    height: 1.5rem;
}

input:focus,
input:active {
    outline: none;    
}

select{
    height: 2rem;
}

#form-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.input-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-items > input {
    width: 200px;
}

#mail.invalid,
#psw.invalid {
    border: 2px solid red;
}

#mail:valid,
#psw.valid{
    border: 2px solid green;
}
.error {
    font: 0.6em sans-serif;
    color: red;
    float: right;
    padding: 0.7rem 0;
}